* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  display: flex;
  justify-content: center;
  align-items: center;
}
.icon {
  margin-top: 3rem;
}
.icon i {
  font-size: 60px;
}
